
.main-navbar{
    box-shadow: 0 0.125rem 0.625rem rgba(90,97,105,.12);

    .navbar {
        height: 3.75rem;
        
        .search-bar {
            .input-group {
                min-width: 7.5rem;
    
                &-prepend{
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    z-index: 7;
    
                    .input-group-text {
                        padding: .75rem .625rem;
                        background: transparent;
                        border: none;
                    }
                }
                .navbar-search {
                    border: none;
                    padding: 0.5rem 0.75rem 0.5rem 2.5rem;
                }
            }
        }
        
        .notifications {
            min-width: 3.75rem;
        }

        .admin-profile {
            min-width: 3.75rem;
    
        }
    }
}